@import(https://fonts.googleapis.com/css2?family=Poppins&display=swap)

*{
  font-family: "Poppins" sans-serif;
}

header {
  font-family: "Poppins" sans-serif;
  background-color: #a9ba9d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

#logo-image {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.cart-icon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  max-width: 50%;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-right: 1px solid #555;
}
.menu.open {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 10px;
}
.menu h2 {
  font-size: 36px;
}

.menu a {
  font-size: 24px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  display: block;
}
@media (max-width: 390px) {
  .menu a {
    font-size: 18px;
  }
}

.menu a:hover {
  color: #cacaca;
}

#toggle-button {
  background-color: #ff1d1d;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #0074d9;
  color: #fff;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 10px;
}

.logo {
  background-image: url("images/logo.png");
}

footer {
  background-color: #002400;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 20px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}
main {
  padding: 20px;
}
