* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Verdana, sans-serif;
  margin: 0;
}

.flex-container-1 {
  display: flex;
  margin-top: 20px;
}

.flex-container-1 div, .flex-container-2 div {
  flex: 1;
}

.flex-container-1 img, .flex-container-2 img {
  width: 100%;
}

.flex-container-1 div:nth-child(2) {
  padding: 0 20px;
}

.flex-container-1 h2, 
.flex-container-1 h3,
.flex-container-2 h2,
.flex-container-2 h3 {
  text-align: center;
}

.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 35px; /* Adjust the font size as needed */
  padding: 10px 20px;
}

.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 35px; /* Adjust the font size as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
}

.prev, .next {
    cursor: default !important;
}

.overlay-button {
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
}

.flex-container-2 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-container-2 div:nth-child(2) {
  padding: 0 20px;
  display: flex;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -10px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 20px;
  padding-left: 20px;

}